#navS {
    width: 100%;
    height: 100px;
    padding: 0;
    background: #dcf1ff;
    display: grid;
    grid-template-columns: 1fr 3fr 1.5fr;
    grid-template-rows: 100px;
}

#navS #navS-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#navS #navS-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    width: 80%;
    margin: 0
}

#navS #navS-3 {
    display: flex;
    flex-direction: column;
}

#navS #navS-3 .one {
    height: 40px;
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#navS #navS-3 .one a {
    text-decoration: none;
    color: #1b2430;
}

#navS #navS-3 .two {
    height: 60px;
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

#navS #navS-3 .two a {
    text-decoration: none;
    color: #1b2430;
}

nav {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #1b2430;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar li {
    list-style: none;
    position: relative;
    cursor: pointer;
}

#navbar li a {
    text-decoration: none;
    font-size: .9rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active{
    color: #dcf1ff;
    pointer-events: none;
}

#navbar li a:hover::after,
#navbar li a.active::after{
    content: '';
    width: 50%;
    background: #dcf1ff;
    position: absolute;
    bottom: -4px;
    left: 0;
}

#mobile {
    display: none;
}

#mobile i {
    color: #fff;
}

@media screen and (max-width: 900px) {
    #navS {
        display: none;
    }
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 35px;
        right: -500px;
        width: 300px;
        height: 100vh;
        background: #2a3239;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: .3s ease-in-out;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile  {
        display: block;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 40px;
    }

    #mobile i {
        font-size: 24px;
        cursor: pointer;
    }
}