body {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding: 16px;
  background: #dcf1ff;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a.is-active {
  color: black;
  font-weight: bold;
  pointer-events: none;
}

h1 {
  text-align: center;
  font-size: 34px;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

h5 {
  font-size: 18px;
  font-weight: 300;
}

h6 {
  font-size: 16px;
  font-weight: 300;
}